@charset "utf-8";
/* CSS Document */
html,
body {
    height: 100%;
}




/** scrollBox **/
#scrollBox {
    height: 100%;
    overflow: hidden;
    position: relative;
}

#scrollBox .wrap {
    width: 3840px;
    height: 1960px;
    position: relative;
    overflow: hidden;
    /*background: url("../jpg/main_bg_1.jpg") no-repeat left top;*/
    /*전체 bg 이미지*/
}

#scrollBox .wrap > div {
    position: absolute;
    width: 1920px;
    height: 980px;
}



/*** Scene01 ***/
#scene01 {
    width: 1920px;
    height: 980px;
    background: red;
    left: 0;
    top: 0;
}

/*** Scene01 ***/
#scene02 {
    width: 1920px;
    height: 980px;
    background: orange;
    right: 0;
    top: 0;
}

/*** Scene01 ***/
#scene03 {
    width: 1920px;
    height: 980px;
    background: dodgerblue;
    left: 0;
    bottom: 0;
}

/*** Scene01 ***/
#scene04 {
    width: 1920px;
    height: 980px;
    background: green;
    right: 0;
    bottom: 0;
}
